<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cardapio">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Cardapio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrinho">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrinho</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reserva">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Reserva</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
