<div id="main-content">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cardapio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-select
        aria-label="Categoria"
        placeholder="Selecione uma categoria"
        (ionChange)="handleChange($event)"
      >
        <ion-select-option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <ion-card class="card-cardapio" *ngFor="let cardapio of cardapios">
    <img src="{{cardapio.urlImage}}" alt="ion">
    <ion-card-header>
      <ion-card-title class="text-title">{{cardapio.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="text-description">{{cardapio.descricao}}</p>
      <p class="text-description" style="margin-top: 6px;">Tempo de preparo: {{cardapio.tempoDePreparo | minutoParaHoras }}</p>
      <p class="text-price">{{cardapio.preco | currency : 'BRL'}}</p>
    </ion-card-content>
    <ion-footer class="justify-center">
      <div>
        <button class="buttonCarrinho" (click)="adicionarAlimentoCarrinho(cardapio)"> Adicionar ao carrinho </button>
      </div>
    </ion-footer>
  </ion-card>

</ion-content>
</div>